<h1>About BankNotes</h1>

<div class="row">
  <div class="col s5 well center-align">
    <h5>Track spending with helpful tables and graphs</h5>
    <img style="max-width: 300px; margin-bottom: 25px; border: 3px #5D5D5D solid;" src="img/transactions.png" alt="A table of transactions">
  </div>
  <div class="col s2">
  </div>
  <div class="col s5 well center-align">
    <h5>Create budgets, and stick to them</h5>
    <img style="max-width: 300px; margin-bottom: 25px; border: 3px #5D5D5D solid;" src="img/budget.png" alt="A table of budgets">
  </div>
</div>

<div class="row">
  <div class="well col s5 center-align">
    <h5>Get up to the minute stock quotes</h5>
    <img style="max-width: 300px; margin-bottom: 25px; border: 3px #5D5D5D solid;" src="img/stock.png" alt="A stock quote">
  </div>
  <div class="col s2">
  </div>
  <div class="well col s5 center-align">
    <h5>Track your income over time</h5>
    <img style="max-width: 300px; margin-bottom: 25px; border: 3px #5D5D5D solid;" src="img/accounts.png" alt="A table of accounts">
  </div>
</div>
