<h1>Hello, <%= @user.name %>!</h1>

<form action="/user_account" method="post">
  <h3>Add a new account</h3>
  <input id='account_name' name="account_name" placeholder="Account Name">
  <input id='initial_balance' name="initial_balance" placeholder="Initial Balance" type='number'>
  <button type="submit" class="btn">Add Account</button>
</form>
