<!-- User's name -->
<h2>Budget: <%= @budget.name %></h2>
<h5>You started with <%= @budget.amount %>0 this budget cycle.</h5>
<h5>You have <%= @budget.current_amount %>0 left.</h5>

<form action="/update_budget/<%= @budget.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="budget_name">Enter New Budget Name</label>
  <input type="text" id="budget_name" name="budget_name">
  <label for="budget_amount">Enter New Budget Amount</label>
  <input type="text" id="budget_amount" name="budget_amount">
  <button type="submit" class="btn">Update Budget</button>
</form>

<br>

<button type="button" class="btn link-button"><a href="/transactions">See Transaction History</a></button>
