<h3>Edit Profile</h3>
<div class="row">
  <div class="col s6">
    <div class="well">
      <form action="/edit_profile" method="post">
        <input type="hidden" name="_method" value="patch">
        <input id="name" name="name" placeholder="<%= @user.name %>">
        <button type="submit" class="btn">Edit Name</button>
      </form>
      <br>
      <br>
      <form action="/edit_profile" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn delete-btn">Delete Profile</button>
      </form>
    </div>
  </div>
</div>
