<h1>BankNotes</h1>

<!-- cool stuff about the app goes here -->

<div class="row">
  <div class="col l12">
    <div class="row">
      <div class="input-field col l5">
        <div class="well">
          <form action="/signin" method="post">
            <input name="username" id="username" type="text" class="validate" placeholder="Enter Username or Email">
            <input name="password" id="password" type="password" class="validate" placeholder="Password">
            <button type="submit" class="btn">Sign In</button>
          </form>
          <br>
          <br>
          <h6>or</h6>
          <br>
          <button type="submit" class="btn link-button"><a href='/create_account'>Create New Account</a></button>
        </div>
      </div>
      <div class="col l2">
      </div>
      <div class="input-field col l5">
        <div class="well special right-align">
          <h3>Organize Your Financial Life with BankNotes</h3>
          <h5><i class="material-icons">done</i> Track spending with helpful tables and graphs</h5>
          <h5><i class="material-icons">done</i> Create budgets, and stick to them</h5>
          <h5><i class="material-icons">done</i> Get up to the minute stock quotes</h5>
          <h5><i class="material-icons">done</i> Track your income over time</h5>
          <br>
          <a href="/about"><button class="btn">Learn More</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
