<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Heebo:100|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <title>BankNotes</title>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">BankNotes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if @user %>
          <li><a href="/budgets">Budgets</a></li>
          <% if @user.nil? %>
          <li><a href="/transactions/">Transactions</a></li>
          <% else %>
          <li><a href="/transactions">Transactions</a></li>
          <% end %>
          <li><a href="/user_account">Accounts</a></li>
          <li><a href="/edit_profile">Edit Profile</a></li>
          <li><a href="/logout">Sign Out</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <div class='container'>
      <%= yield %>
    </div>
    <footer class="page-footer">
      <!-- <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright Our Team
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
