<h3>Create New Account</h3>
<form action="/create_account" method="post">
  <input id="username" name="username" placeholder="Enter Username or Email">
  <button type="submit" class="btn">Create Account</button>
</form>
