.brand-logo {
  margin-left: 10px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-bottom: 100px;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0;
}
